.dashboard_page {
    .navigation {
        width: 100px;
        height: 100vh;
        position: fixed;
    }
    .content {
        width: calc(100% - 100px);
        margin-left: 100px;
        padding: 20px;
        min-height: 100vh;
    }
}
