.history_list_container {
  padding: 32px 24px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #06d972;
  margin-bottom: 24px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
